
        .fs-15{
            font-size: 15px !important;
        }
          .green_color {
                color: #14532d !important;
            }
             .bg_green_color {
                background-color: #14532d !important;
                color: white !important;
            }
        .service-card_utilities {
            width: 147px;
            height: 200px;
            border-radius: 16px;
            cursor: pointer;
            padding: 18px;
            transition: all 0.25s ease;

            /* ⭐ Glass effect */
            background: transparent;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.4);
        }

        .service-card_utilities:hover {
            transform: translateY(-6px);
            box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12) !important;
            background: transparent;
        }

        .service-img-box {
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .service-img {
            max-height: 200px;
            max-width: 100%;
            object-fit: contain;
            filter: grayscale(100%);
            transition: all 0.25s ease;
        }

        .service-card_utilities:hover .service-img {
            filter: grayscale(0%);
            transform: scale(1.08);
        }

        /* ⭐ Selected state */
        .service-card_utilities.selected {
            border: 2px solid #14532d;
            background: rgb(184 213 191 / 25%);
            transform: scale(1.05);
            box-shadow: 0 12px 25px rgba(54, 177, 85, 0.25) !important;
        }

        .service-card_utilities.selected .service-img {
            filter: grayscale(0%);
            transform: scale(1.12);
        }
